<h1>Orasi Coding Challenge Survey</h1>
<%= form_for @survey do |s| %>
<div class="form-group">
	<h5>Have you participated in the Code Challenge?</h5>
	<div class="radio">
		<label> <%= s.radio_button(:haveParticipated, "yes", :class => "participatedGroup") %>
			Yes</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:haveParticipated, "no", :class => "participatedGroup") %>
			No</label>
	</div>
</div>
<div id="hasParticipated" style="display:none">
	<div class="form-group">
		<h5>If you participate in the code challenge, why did you start?</h5>
		<div class="radio">
			<label> <%= s.radio_button(:whyStart, "interesting") %>
				The challenges are interesting</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyStart, "mandatory") %>
				It was mandatory</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyStart, "learning") %>
				I wanted to learn new skills</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyStart, "rewards") %>
				I wanted to win prizes</label>
		</div>
	</div>
	<div class="form-group">
		<h5>Do you feel the Code Challenge has helped you develop new skills?</h5>
		<div class="radio">
			<label> <%= s.radio_button(:newSkills, "yes") %>
				Yes</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:newSkills, "no") %>
				No</label>
		</div>
	</div>
	<div class="form-group">
		<h5>Have you used any skills learned or reinforced by the code challenge on project work?</h5>
		<div class="radio">
			<label> <%= s.radio_button(:howUsedSkills, "yes", :class => "projectWork") %>
				Yes</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:howUsedSkills, "no", :class => "projectWork") %>
				No</label>
		</div>
	</div>
	<div id="provideExample" style="display:none">
		Can you provide an example where code challenge skills have helped you in a project?
		<%= s.text_area(:skillsExample) %>
	</div>
</div>
<div id="notParticipated" style="display:none">
	<div class="form-group">
		<h5>If you have not participated, which best describes you?</h5>
		<div class="radio">
			<label> <%= s.radio_button(:whyNot, "noTime") %>
				I would like to participate, but don't have time</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyNot, "notEnoughInterestingChallenges") %>
				I would participate if the challenges were more interesting</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyNot, "dontKnowWhereToStart") %>
				I would like to participate, but I don't know where to start</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyNot, "notEnoughReward") %>
				I would participate if the rewards were better</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyNot, "notInterestedInCompeting") %>
				I am interested in access to practice problems, but not in competition</label>
		</div>
		<div class="radio">
			<label> <%= s.radio_button(:whyNot, "notInterested") %>
				I am not interested in participating</label>
		</div>
	</div>
	<div class="form-group">
		<h5>What types of challenges would you be interested in?</h5>
		<%= s.text_area(:whatWouldInterest) %>
	</div>
	<div class="form-group">
		<h5>What could the code challenge do to increase your interest in participation?</h5>
		<%= s.text_area(:whatWouldIncreaseParticipation) %>
	</div>
</div>
<div class="form-group">
	<h5>Which league do you feel is a match for your current skill level?</h5>
	<div class="radio">
		<label> <%= s.radio_button(:bestLeague, "subBronze") %>
			All the leagues are too advanced</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:bestLeague, "bronze") %>
			Bronze League</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:bestLeague, "silver") %>
			Silver League</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:bestLeague, "gold") %>
			Gold League</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:bestLeague, "postGold") %>
			None of the leagues are advanced enough</label>
	</div>
</div>
<div class="form-group">
	<h5>Do you do, or have you done, automation as part of your job at Orasi?</h5>
	<div class="radio">
		<label> <%= s.radio_button(:automation, "yes") %>
			Yes</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:automation, "no") %>
			No</label>
	</div>
</div>
<div class="form-group">
	<h5>Do you do, or have you done, any sort of coding/scripting/development outside of Orasi?</h5>
	<div class="radio">
		<label> <%= s.radio_button(:otherDevelopment, "yes") %>
			Yes</label>
	</div>
	<div class="radio">
		<label> <%= s.radio_button(:otherDevelopment, "no") %>
			No</label>
	</div>
</div>
<div class="form-group">
	<h5>Is there anything the Code Challenge could do to better serve you?</h5>
	<%= s.text_area(:betterServe) %>
</div>
<%= s.submit "Submit", :class => "btn btn-primary btn-lg" %>
<% end %>