<br><Br><table cellpadding="0">

<%  @maze_string.split(";").each do |row| %>
<tr>
<% row.split(",").each do |cell| %>
<td>
 <%= image_tag ("#{cell}.png") %>
</td>
<% end %>
</tr>
<% end %>
</table>
<h1><%= @result %></h1>
Start:    <%= @start %><br>
End:      <%= @end %>
<br><Br><table cellpadding="10">

<%  @path_string.split(";").each do |row| %>
<tr>
<% row.split(",").each do |cell| %>
<td>
 <%= cell %>
</td>
<% end %>
</tr>
<% end %>
</table>
