<h1> Survey Results</h1>

<% if @filter %>
	Filter:  <%= @filter %>
<% end %>

<table width="100%">
	<tr>
		<td colspan="2" align="center">
			<h3>Have you previously participated in the coding challenge?</h3>
		</td>
	</tr>
	<tr>
		<td align="right">
		
		<canvas id="hasParticipated" height="200" width="200"></canvas>
		</td>
		<td>
			<table>
				<tr>
					<td border="2" bgcolor="#F7464A" width="20"></td>
					<td>
						 - <%= link_to 'No, I have not participated', controller: "survey", action: "result", id: Survey.where(haveParticipated: "no").pluck(:id), filter: "Not Participated" %> - <%= ((@surveys.where(haveParticipated: "no").count.to_f)/(@surveys.where.not(haveParticipated: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#46BFBD" width="20"></td>
					<td>
						 - <%= link_to 'Yes, I have previously participated', controller: "survey", action: "result", id: Survey.where(haveParticipated: "yes").pluck(:id),  filter: "Has Participated" %> - <%= ((@surveys.where(haveParticipated: "yes").count.to_f)/(@surveys.where.not(haveParticipated: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>




<table width ="100%">
	<tr>
		<td valign="top">
			<table>
				<tr>
					<td colspan="2" align="center">
						<h3>What first interested you in the coding challenge?</h3>
					</td>
				</tr>
				<tr>
					<td align="right">
						<canvas id="whyStart" height="200" width="200"></canvas>
					</td>
					<td>
						<table>
							<tr>
								<td border="2" bgcolor="#F7464A" width="20"></td>
								<td>
									 - <%= link_to 'The Challenges are interesting', controller: "survey", action: "result", id: Survey.where(whyStart: "interesting").pluck(:id),  filter: "Finds Challenges Interesting" %> - <%= ((@surveys.where(whyStart: "interesting").count.to_f)/(@surveys.where.not(whyStart: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#46BFBD" width="20"></td>
								<td>
									 -  <%= link_to 'It was mandatory', controller: "survey", action: "result", id: Survey.where(whyStart: "mandatory").pluck(:id),  filter: "Mandated to participate" %>- <%= ((@surveys.where(whyStart: "mandatory").count.to_f)/(@surveys.where.not(whyStart: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
							
							
							
								<td border="2" bgcolor=	"#D4CCC5" width="20"></td>
								<td>
									 -<%= link_to ' I wanted to learn new skills', controller: "survey", action: "result", id: Survey.where(whyStart: "learning").pluck(:id),  filter: "Wanted to learn new skills" %> - <%= ((@surveys.where(whyStart: "learning").count.to_f)/(@surveys.where.not(whyStart: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#949FB1" width="20"></td>
								<td>
									 - <%= link_to 'I wanted to win prizes', controller: "survey", action: "result", id: Survey.where(whyStart: "rewards").pluck(:id),  filter: "Wanted to win prizes" %> - <%= ((@surveys.where(whyStart: "rewards").count.to_f)/(@surveys.where.not(whyStart: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<h3>Do you feel the code challenge has helped you develop new skills?</h3>
					</td>
				</tr>
				<tr>
					<td align="right">
						<canvas id="newSkills" height="200" width="200"></canvas>
					</td>
					<td>
						<table>
							<tr>
								<td border="2" bgcolor="#F7464A" width="20"></td>
								<td>
									 - <%= link_to 'No, the challenges have not helped develop new skills', controller: "survey", action: "result", id: Survey.where(newSkills: "no").pluck(:id),  filter: "Not developed new skills" %> - <%= ((@surveys.where(newSkills: "no").count.to_f)/(@surveys.where.not(newSkills: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#46BFBD" width="20"></td>
								<td>
									 - <%= link_to 'Yes, the challenges have helped develop new skills', controller: "survey", action: "result", id: Survey.where(newSkills: "yes").pluck(:id),  filter: "Developed new skills" %> - <%= ((@surveys.where(newSkills: "yes").count.to_f)/(@surveys.where.not(newSkills: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<h3>Have you used skills developed in the coding challenge on project work?</h3>
					</td>
				</tr>
				<tr>
					<td align="right">
						<canvas id="howUsedSkills" height="200" width="200"></canvas>
					</td>
					<td>
						<table>
							<tr>
								<td border="2" bgcolor="#F7464A" width="20"></td>
								<td>
									 - <%= link_to 'No, the challenges have not assisted with project work', controller: "survey", action: "result", id: Survey.where(howUsedSkills: "no").pluck(:id),  filter: "Not used skills on project" %> - <%= ((@surveys.where(howUsedSkills: "no").count.to_f)/(@surveys.where.not(howUsedSkills: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#46BFBD" width="20"></td>
								<td>
									 - <%= link_to 'Yes, the challenges have assisted with project work', controller: "survey", action: "result", id: Survey.where(howUsedSkills: "yes").pluck(:id),  filter: "Used skills on project" %> - <%= ((@surveys.where(howUsedSkills: "yes").count.to_f)/(@surveys.where.not(howUsedSkills: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<h3>Provide Examples of how code challenge skills have been used on a project?</h3>
					</td>
				</tr>
				<tr>
					<table class="table" width="100%">
						<% @surveys.where.not(skillsExample: "").each do |s| %>
						<tr>
							<td>
								<%= s.skillsExample %>
							</td>
						</tr>
						<% end %>
					<table>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table>
				<tr>
					<td colspan="2" align="center">
						<h3>If you have not participated, which of the following best describes you?</h3>
					</td>
				</tr>
				<tr>
					<td align="right">
						<canvas id="whyNot" height="200" width="200"></canvas>
					</td>
					<td>
						<table>
							<tr>
								<td border="2" bgcolor="#F7464A" width="20"></td>
								<td>
									 -   <%= link_to "I would like to participate, but don't have time", controller: "survey", action: "result", id: Survey.where(whyNot: "noTime").pluck(:id),  filter: "No Time To Participate" %>- <%= ((@surveys.where(whyNot: "noTime").count.to_f)/(@surveys.where.not(whyNot: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#FDB45C" width="20"></td>
								<td>
									 -   <%= link_to 'I would participate if the challenges were more interesting', controller: "survey", action: "result", id: Survey.where(whyNot: "notEnoughInterestingChallenges").pluck(:id),  filter: "Not Enough Interesting Challenges" %>- <%= ((@surveys.where(whyNot: "notEnoughInterestingChallenges").count.to_f)/(@surveys.where.not(whyNot: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#46BFBD" width="20"></td>
								<td>
									 -   <%= link_to "I would like to participate, but I don't know where to start", controller: "survey", action: "result", id: Survey.where(whyNot: "dontKnowWhereToStart").pluck(:id),  filter: "Don't Know Where To Start" %>- <%= ((@surveys.where(whyNot: "dontKnowWhereToStart").count.to_f)/(@surveys.where.not(whyNot: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#D4CCC5" width="20"></td>
								<td>
									 -  <%= link_to 'I would participate if the rewards were better', controller: "survey", action: "result", id: Survey.where(whyNot: "notEnoughReward").pluck(:id),  filter: "Wants Better Rewards" %>- <%= ((@surveys.where(whyNot: "notEnoughReward").count.to_f)/(@surveys.where.not(whyNot: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#949FB1" width="20"></td>
								<td>
									 - <%= link_to 'I am interested in access to practice problems, but not in competition', controller: "survey", action: "result", id: Survey.where(whyNot: "notInterestedInCompeting").pluck(:id),  filter: "Not Interested In Competition" %>- <%= ((@surveys.where(whyNot: "notInterestedInCompeting").count.to_f)/(@surveys.where.not(whyNot: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
							<tr>
								<td border="2" bgcolor="#4D5360" width="20"></td>
								<td>
									 - <%= link_to 'I am not interested in participating', controller: "survey", action: "result", id: Survey.where(whyNot: "notInterested").pluck(:id),  filter: "Not Interested In Participating" %>- <%= ((@surveys.where(whyNot: "notInterested").count.to_f)/(@surveys.where.not(whyNot: nil).count.to_f)*100).round(1) %>%
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<h3>What type of challenges would you be interested in?</h3>
					</td>
				</tr>
				<tr>
					<table class="table" width="100%">
						<% @surveys.where.not(whatWouldInterest: "").each do |s| %>
						<tr>
							<td>
								<%= s.whatWouldInterest %>
							</td>
						</tr>
						<% end %>
					<table>
				</tr>
					<tr>
					<td colspan="2" align="center">
						<h3> 


What could the code challenge do to increase your interest in participation?</h3>
					</td>
				</tr>
				<tr>
					<table class="table" width="100%">
						<% @surveys.where.not(whatWouldIncreaseParticipation: "").each do |s| %>
						<tr>
							<td>
								<%= s.whatWouldIncreaseParticipation %>
							</td>
						</tr>
						<% end %>
					<table>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table width="100%">
	<tr>
		<td colspan="2" align="center">
			<h3>Which league is the best fit for your current skill level?</h3>
		</td>
	</tr>
	<tr>
		<td align="right">
			<canvas id="bestLeague" height="200" width="200"></canvas>
		</td>
		<td>
			<table>
				<tr>
					<td border="2" bgcolor="#F7464A" width="20"></td>
					<td>
						 - <%= link_to 'Below Bronze', controller: "survey", action: "result", id: Survey.where(bestLeague: "subBronze").pluck(:id),  filter: "Selected Below Bronze" %> - <%= ((@surveys.where(bestLeague: "subBronze").count.to_f)/(@surveys.where.not(bestLeague: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#46BFBD" width="20"></td>
					<td>
						 - <%= link_to 'Bronze', controller: "survey", action: "result", id: Survey.where(bestLeague: "bronze").pluck(:id),  filter: "Selected Bronze" %> - <%= ((@surveys.where(bestLeague: "bronze").count.to_f)/(@surveys.where.not(bestLeague: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#D4CCC5" width="20"></td>
					<td>
						 - <%= link_to 'Silver', controller: "survey", action: "result", id: Survey.where(bestLeague: "silver").pluck(:id),  filter: "Selected Silver" %>- <%= ((@surveys.where(bestLeague: "silver").count.to_f)/(@surveys.where.not(bestLeague: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#949FB1" width="20"></td>
					<td>
						 - <%= link_to 'Gold', controller: "survey", action: "result", id: Survey.where(bestLeague: "gold").pluck(:id),  filter: "Selected Gold" %>- <%= ((@surveys.where(bestLeague: "gold").count.to_f)/(@surveys.where.not(bestLeague: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#4D5360" width="20"></td>
					<td>
						 - <%= link_to 'Above Gold', controller: "survey", action: "result", id: Survey.where(bestLeague: "postGold").pluck(:id),  filter: "Selected Above Gold" %>- <%= ((@surveys.where(bestLeague: "postGold").count.to_f)/(@surveys.where.not(bestLeague: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<h3>Do you do, or have you done, automation as part of your job at Orasi?</h3>
		</td>
	</tr>
	<tr>
		<td align="right">
			<canvas id="automation" height="200" width="200"></canvas>
		</td>
		<td>
			<table>
				<tr>
					<td border="2" bgcolor="#F7464A" width="20"></td>
					<td>
						 -  <%= link_to 'No, they have not done automation at Orasi', controller: "survey", action: "result", id: Survey.where(automation: "no").pluck(:id),  filter: "Does Not Do Automation" %>- <%= ((@surveys.where(automation: "no").count.to_f)/(@surveys.where.not(automation: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#46BFBD" width="20"></td>
					<td>
						 - <%= link_to 'Yes, they have done automation at Orasi ', controller: "survey", action: "result", id: Survey.where(automation: "yes").pluck(:id),  filter: "Does Automation" %>- <%= ((@surveys.where(automation: "yes").count.to_f)/(@surveys.where.not(automation: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<h3>Do you do, or have you done, coding/development outside of Orasi?</h3>
		</td>
	</tr>
	<tr>
		<td align="right">
			<canvas id="otherDevelopment" height="200" width="200"></canvas>
		</td>
		<td>
			<table>
				<tr>
					<td border="2" bgcolor="#F7464A" width="20"></td>
					<td>
						 - <%= link_to 'No, they have not done coding/development outside of Orasi', controller: "survey", action: "result", id: Survey.where(otherDevelopment: "no").pluck(:id),  filter: "Not Done Outside Coding/Development" %>- <%= ((@surveys.where(otherDevelopment: "no").count.to_f)/(@surveys.where.not(otherDevelopment: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
				<tr>
					<td border="2" bgcolor="#46BFBD" width="20"></td>
					<td>
						 - <%= link_to 'Yes, they have done coding/development outside of Orasi ', controller: "survey", action: "result", id: Survey.where(otherDevelopment: "yes").pluck(:id),  filter: "Has Done Outside Coding/Development" %>- <%= ((@surveys.where(otherDevelopment: "yes").count.to_f)/(@surveys.where.not(otherDevelopment: nil).count.to_f)*100).round(1) %>%
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<h3>How could the coding challenge better serve your needs?</h3>
		</td>
	</tr>
	<tr>
		<table class="table" width="100%">
			<% @surveys.where.not(betterServe: "").each do |s| %>
			<tr>
				<td>
					<%= s.betterServe %>
				</td>
			</tr>
			<% end %>
		</table>
	</tr>
</table>
<script>

var hasParticipatedData = [
				{
					value: <%= @surveys.where(haveParticipated: "no").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(haveParticipated: "yes").count %>,
					color : "#46BFBD"
				}
			];
	
	var myDoughnut = new Chart(document.getElementById("hasParticipated").getContext("2d")).Doughnut(hasParticipatedData );

var bestLeagueData = [
				{
					value: <%= @surveys.where(bestLeague: "subBronze").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(bestLeague: "bronze").count %>,
					color : "#46BFBD"
				},
				{
					value: <%= @surveys.where(bestLeague: "silver").count %>,
					color:"#D4CCC5"
				},
				{
					value : <%= @surveys.where(bestLeague: "gold").count %>,
					color : "#949FB1"
				},
				{
					value : <%= @surveys.where(bestLeague: "postGold").count %>,
					color : "#4D5360"
				}
				
			];
	
	var bestLeagueDoughnut = new Chart(document.getElementById("bestLeague").getContext("2d")).Doughnut(bestLeagueData );
	
	var automationData = [
				{
					value: <%= @surveys.where(automation: "no").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(automation: "yes").count %>,
					color : "#46BFBD"
				}
			];
	
	var automationDoughnut = new Chart(document.getElementById("automation").getContext("2d")).Doughnut(automationData );
	
	var devData = [
				{
					value: <%= @surveys.where(otherDevelopment: "no").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(otherDevelopment: "yes").count %>,
					color : "#46BFBD"
				}
			];
	
	var devDoughnut = new Chart(document.getElementById("otherDevelopment").getContext("2d")).Doughnut(devData );

	
var whyStartData = [
				{
					value: <%= @surveys.where(whyStart: "interesting").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(whyStart: "mandatory").count %>,
					color : "#46BFBD"
				},
				{
					value: <%= @surveys.where(whyStart: "learning").count %>,
					color:"#D4CCC5"
				},
				{
					value : <%= @surveys.where(whyStart: "rewards").count %>,
					color : "#949FB1"
				}
			];
	
	var whyStartDoughnut = new Chart(document.getElementById("whyStart").getContext("2d")).Doughnut(whyStartData );
	
	var newSkillsData = [
				{
					value: <%= @surveys.where(newSkills: "no").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(newSkills: "yes").count %>,
					color : "#46BFBD"
				}
			];
	
	var devDoughnut = new Chart(document.getElementById("newSkills").getContext("2d")).Doughnut(newSkillsData );


	var howUsedSkillsData = [
				{
					value: <%= @surveys.where(howUsedSkills: "no").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(howUsedSkills: "yes").count %>,
					color : "#46BFBD"
				}
			];
	
	var howUsedSkillsDoughnut = new Chart(document.getElementById("howUsedSkills").getContext("2d")).Doughnut(howUsedSkillsData );

	var whyNotData = [
				{
					value: <%= @surveys.where(whyNot: "noTime").count %>,
					color:"#F7464A"
				},
				{
					value: <%= @surveys.where(whyNot: "notEnoughInterestingChallenges").count %>,
					color:"#F7464A"
				},
				{
					value : <%= @surveys.where(whyNot: "dontKnowWhereToStart").count %>,
					color : "#46BFBD"
				},
				{
					value: <%= @surveys.where(whyNot: "notEnoughReward").count %>,
					color:"#D4CCC5"
				},
				{
					value : <%= @surveys.where(whyNot: "notInterestedInCompeting").count %>,
					color : "#949FB1"
				},
				{
					value : <%= @surveys.where(whyNot: "notInterested").count %>,
					color : "#4D5360"
				}
				
			];
	
	var whyNotDoughnut = new Chart(document.getElementById("whyNot").getContext("2d")).Doughnut(whyNotData );
	
	
</script>