<% challenge_type = request.env['HTTP_REFERER'].split('/').last %>
<% challenge_month = params[:controller] %>
<h1>Results for <%= challenge_month.capitalize + " " + challenge_type.capitalize %></h1>
<p>
	<script type='text/vbscript'>
	<%= params[:script].read.html_safe %>

	<% Dir.entries('res/'+challenge_month+'/'+challenge_type).each do |file| %>
    <% if(File.directory?(file)==false) %>
    <%= File.read('res/'+challenge_month+"/"+challenge_type+"/"+file).html_safe %>
	<% end %> 
	<% end %>
	</script>
</p>

<%= yield %>

<%= link_to('Submit again',challenge_month+'/'+challenge_type)%>
