<% content_for :body do -%>

	<% functionName = User.find(@submission.user_id).first_name.capitalize + User.find(@submission.user_id).last_name.capitalize %>
	
<script type="text/vbscript">
<%= @submission.submission_code.html_safe if not @demo %>	
<%= File.read('res/november/2013/gold/testcase.vbs').html_safe %>
</script>
<script type="application/javascript">
var computer_move, player_move, computers_name, players_name;

player_move = function() {
	if(<%= @demo == true %>){
		return Math.floor((Math.random()*8));
	}else{
        return PlayConnectFour(connect_four.board_string(), "<%= functionName %>", "red");
    }
};

computer_move = function() {
	if(<%= @demo == true %>){
		return Math.floor((Math.random()*8));
	}else{
		return PlayConnectFour(connect_four.board_string(), "RandomPlayer", "black");
	}
};

players_name = function(color) {
	if(color==="red"){
		return "<%= @demo ? "Player" : current_user.first_name.capitalize %>";
	}else{
		return "Computer";
	}
  
};
</script>
<div>
	<h1 id="info_txt" style="text-align: center;display: none;"></h1>
</div>
<div style="text-align: center;">
<canvas id="board" width="800" height="600" style="z-index: 1;">
	<canvas id="block" width="100" height="100"></canvas>
</canvas>
</div>
<% end %>
<% content_for :head do -%>
<%= javascript_include_tag "connect_four.js"%>
<% end %>
<%= render template: "layouts/result" %>