<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new comment has been add</h1>
    <p>
      A new commment has been added to the <%= @comment.month.capitalize %> <%= @comment.league.capitalize %> Challenge! <br> 
      Comment added by <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>.<br/>
	Comment: <%= @comment.comment %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>