<h1>Usage Stats</h1>
<div>
	<table class="table">
		<thead>
			<td></td>
			<td><b>Created Today</b></td>
			<td><b>Created This Week</b></td>
			<td><b>Created This Month</b></td>
			<td><b>All Time</b></td>
		</thead>
		<tr>
			<td>Users</td>
			<td> <%= link_to User.where("created_at >= ?", Date.today.beginning_of_day).count, root_path + 'admin/users/day' %> </td>
			<td> <%= link_to User.where("created_at >= ?", Date.today.beginning_of_week).count, root_path + 'admin/users/week' %> </td>
			<td> <%= link_to User.where("created_at >= ?", Date.today.beginning_of_month).count, root_path + 'admin/users/month' %> </td>
			<td> <%= link_to User.count, root_path + 'admin' %> </td>
		</tr>
		<tr>
			<td>Submissions</td>
			<td> <%= link_to Submission.where("created_at >= ?", Date.today.beginning_of_day).count, root_path + 'admin/submissions/day' %> </td>
			<td> <%= link_to Submission.where("created_at >= ?", Date.today.beginning_of_week).count, root_path + 'admin/submissions/week' %> </td>
			<td> <%= link_to Submission.where("created_at >= ?", Date.today.beginning_of_month).count, root_path + 'admin/submissions/month' %> </td>
			<td> <%= link_to Submission.count, root_path + 'admin/submissions/alltime' %> </td>
		</tr>
	</table>
</div>
<br>