<h1>Usage Stats</h1>
<div>
	<table class="table">
		<thead>
			<td></td>
			<td><strong>Created Today</strong></td>
			<td><strong>Created This Week</strong></td>
			<td><strong>Created This Month</strong></td>
			<td><strong>All Time</strong></td>
		</thead>
		<tr>
			<td>Users</td>
			<td> <%= link_to User.where(created_at: (Date.today.beginning_of_day..Date.today.end_of_day)).count, admin_users_path(time: :day) %> </td>
			<td> <%= link_to User.where(created_at: (Date.today.beginning_of_week.beginning_of_day..Date.today.end_of_week.end_of_day)).count, admin_users_path(time: :week) %> </td>
			<td> <%= link_to User.where(created_at: (Date.today.beginning_of_month.beginning_of_day..Date.today.end_of_month.end_of_day)).count, admin_users_path(time: :month) %> </td>
			<td> <%= link_to User.count, admin_path %> </td>
		</tr>
		<tr>
			<td>Submissions</td>
			<td> <%= link_to Submission.where(created_at: (Date.today.beginning_of_day..Date.today.end_of_day)).count, admin_submissions_path(time: :day) %> </td>
			<td> <%= link_to Submission.where(created_at: (Date.today.beginning_of_week.beginning_of_day..Date.today.end_of_week.end_of_day)).count, admin_submissions_path(time: :week) %> </td>
			<td> <%= link_to Submission.where(created_at: (Date.today.beginning_of_month.beginning_of_day..Date.today.end_of_month.end_of_day)).count, admin_submissions_path(time: :month) %> </td>
			<td> <%= link_to Submission.count, admin_submissions_path(time: :alltime) %> </td>
		</tr>
	</table>
</div>
<br>