<h1> <%= @title %> </h1>
<div>
	<table class="table">
		<thead>
			<td><strong><%= link_to "Name", admin_path(sort: 'first_name', reverse: params[:reverse]!='true') %></strong></td>
			<td><strong><%= link_to "Created", admin_path(sort: 'created_at', reverse: params[:reverse]!='true') %></strong></td>
			<td><strong><%= link_to "Last Login", admin_path(sort: 'updated_at', reverse: params[:reverse]!='true') %></strong></td>
			<td><strong><%= link_to "Number of Submissions", admin_path(sort: 'submissions', reverse: params[:reverse]!='true') %></strong></td>
			<td><strong><%= link_to "Admin?", admin_path(sort: "admin", reverse: params[:reverse]!='true') %></strong></td>
		</thead>
		
		<% @all_users.each do |user| %>
		<tr>
			<td><b><%= user.display_name %></b></td>
			<td id="testID"><%= user.created_at.to_formatted_s(:long_ordinal) %></td>
			<td><%= user.updated_at.to_formatted_s(:long_ordinal) %></td>
			<td><%= user.submissions.count %></td>
			<td>
			<%= form_for user, remote: true do |u| %>
			<%= u.check_box :admin, class: "admin_checkbox", disabled: user==current_user %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</table>
</div>