Changing password for <%= User.find(params[:id]).username %>
<%= form_for(:user, method: :patch) do |f| %>
<% if !flash[:errors].nil? and flash[:errors].any? %>
<div id="error_explanation">
	<h2><%= pluralize(flash[:errors].count, "error") %> prohibited this user from being saved:</h2>
	<ul>
		<% flash[:errors].full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :password %>
	<br>
	<%= f.password_field :password %>
	<br>
	<br>
	<%= f.label :password_confirmation, "Confirm Password" %>
	<br>
	<%= f.password_field :password_confirmation %>
</div>
<div class="actions">
	<%= f.submit options={:class => 'btn btn-primary btn-lg', :url=>:admin} %>
</div>
<% end %>
