<div>
	<h1 class="masthead bigtitle">Orasi Coding Challenge</h1>
</div>
<div>

	<%= form_for :user do |f| %>
	<p>
		<%= f.label :username %>
		<br />
		<%= f.text_field :username, options={:pattern => '^\w+\.\w+$', :title => "FirstName.LastName", :placeholder => "john.doe"} %>
	</p>
	<p>
		<%= f.label :password, nil, class: "align-left" %>
		<br />
		<%= f.password_field :password %>
	</p>
	<%if flash[:error]%>
	<div id="error_explanation">
		<h2><%= flash[:error] %></h2>
	</div>
	<%end%>
	<p class="button">
		<%= f.submit "Login", class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>
	<footer class="masthead text-center">
		<a href="http://github.com/LGordon2/code-challenge-grading/issues?state=open">Issues/Suggestions?</a>
	</footer>
</div>
