<div>
	<h1 class="masthead bigtitle">Orasi Coding Challenge</h1>
</div>
<div>

	<%= form_tag sessions_path do %>
	<p>
		<%= label_tag :username %>
		<br />
		<%= email_field_tag :username, params[:username], options={:pattern => '\w+\.\w+@orasi\.com', :title => "Orasi email address"} %>
	</p>
	<p>
		<%= label_tag :password, nil, class: "align-left" %>
		<br />
		<%= password_field_tag :password %>
	</p>
	<%if flash[:alert]%>
	<div id="error_explanation">
		<h2><%= flash[:alert] %></h2>
	</div>
	<%end%>
	<p class="button">
		<%= submit_tag "Login", class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>
	<footer class="masthead text-center">
		<a href="https://github.com/LGordon2/code-challenge-grading/issues?state=open">Issues/Suggestions?</a>
	</footer>
</div>
