<% session[:month] = "october" %>
<% session[:league] = "gold" %>
<div id="content" class='text-center'>
  <div id="ChallengeRow">
    <div id="mainContent">
      <section>
        <article class="blogPost">
          <% comments = current_comments(session[:league],session[:month]) %>
          <div id="challengeHeader">
            <div id="challengeTitle" class='bigtitle'>
              <h1>Finding Reducible Primes</h1>
            </div>
            <div id ="commentCount"><a href=#comments>
              <%= comments.count %>
              Comments</a>
            </div>
          </div>

          <iframe src="https://dl.dropboxusercontent.com/u/21712432/GoldLeagueOctober2013.pdf" width="600" height="750"></iframe>

        </article>
      </section>
    </div>
    <div id="submitPanel">

      <aside>
        <%= render template: 'layouts/submit' %>

      </aside>
    </div>
  </div>
  </div>
  <div id="commentRow">
    <section id="comments">
      <br>
      <h3>Comments</h3>
      <br>
      <% comments.each do |comment| %>
          <article>
            <header>
              <strong><%= comment.name %></strong> on<time datetime="2009-06-29T23:40:09+01:00"> <%= comment.created_at %>  </time>
            </header><br>
            <p>
              <%= comment.comment %>
            </p>
          </article>
      <% end %>

    </section>
    <%= form_for :comment, url: {:controller => "comments", :action => "create"} do |f| %>
         <br><Br>
        <h3>Post a comment</h3>
        <p>

          <%= f.hidden_field :name, :value => session[:f_name].capitalize + " " + session[:l_name].capitalize %>
          <%= f.hidden_field :month, :value => session[:month] %>
          <%= f.hidden_field :league, :value => session[:league] %>
        </p>

        <p>
          <%= f.label :comment %> <br>
          <%= f.text_area :comment, :label => "", :cols => "158", :rows => "5", :placeholder => "Questions? Comments? Concerns? Let us know!" %>
        </p>
        <p>
          <%= f.submit :class =>"btn btn-primary btn-lg" %>
        </p>
    <% end %>
  </div>     <br><br><br>
