<div id="content">
	<div id="mainContent">
		<section>
			<article class="blogPost">
                 <% comments = current_comments("silver","october") %>
				<header>
					<h1>Greatest Common Divisor</h1><a href=#comments>
                  <%= comments.count %>
                  Comments</a>
				</header>
				
				<iframe src="https://docs.google.com/file/d/0ByiedtMqH31-ZzEwV1J0eDBOUlk/preview" width="800" height="600"></iframe>

			</article>
		</section>
		<section id="comments">
			<h3>Comments</h3>

              <% comments.each do |comment| %>
                  <article>
				<header>
					<strong><%= comment.name %></strong> on<time datetime="2009-06-29T23:40:09+01:00"> <%= comment.created_at %>  </time>
				</header>
				<p>
					<%= comment.comment %>
				</p>
			</article>
                  <% end %>

		</section>
      <%= form_for :comment, url: {:controller => "comments", :action => "create"} do |f| %>

			<h3>Post a comment</h3>
			<p>
				<%= f.label :name %> <br>
                <%= f.text_field :name %>
			</p>
			<p>
              <%= f.label :month %> <br>
              <%= f.text_field :month %>
			</p>
			<p>
              <%= f.label :league %> <br>
              <%= f.text_field :league %>

			</p>
			<p>
              <%= f.label :comment %> <br>
              <%= f.text_area :comment %>
			</p>
			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</div>
	<aside>
		<%= render template: 'layouts/submit' %>

	</aside>
</div>