<h1><%= @league.capitalize %> League Archive</h1>

<table cellpadding="5px" class="table">
	<thead>
		<td><h3>Challenge Title</h3></td>
		<td><h3>Month</h3></td>
		<td><h3>Winner</h3></tdf>
	</thead>
	<% Challenge.where(:league => @league).reverse.each do |challenge| %>

		<tr>
			<td><%= link_to challenge.title.capitalize, challenge_path(month: challenge.month, league: challenge.league, year: challenge.year)%> <%= "    " %> </td>
			<td><%= challenge.month.capitalize %> <%=challenge.year%> </td> 
			<td><table>
			<% challenge.challenge_winners.each do |winner|%></td>
			<tr><td>
				<% winner_name = User.find(Submission.find(winner.submission_id).user_id).display_name %>
				<%= link_to winner_name, controller: "submission", action: "show", id: winner.submission_id %>
			</td></tr>
			<% end %>
			</table>
		</tr>
<% end %>
</table>
