<div class="comment <%= "comment-child-reply" if change_background %>">
	<div class="comment-header">
		<% comment_user = User.find(comment.user_id) %>
		<%= image_tag User.find_by(id: comment.user_id).photo %>
		<strong><%= comment_user.first_name.capitalize + ' ' + comment_user.last_name.capitalize %></strong> -- 
		<strong class='created-time' data-comment-id=<%=comment.id%>></strong>.
		<% if comment.created_at != comment.updated_at %>
			<sup>*updated <strong class='updated-time' data-comment-id=<%=comment.id%>></strong></sup>
		<% end %>
	</div>
	<div class="comment-body">
		<%= form_for comment do |f|%>
			<p class="comment-body">
				<%= comment.comment %>
			</p>
			<p class="comment-edit">
				<%= f.text_area :comment, class: 'animated' %>
			</p>
			<% if comment.user_id == current_user.id or current_user.admin %>
				<%= f.submit 'Update', class: 'update-btn btn', style: 'display: none;' %>
				<%= button_tag 'Cancel', href: 'javascript:void(0);', class: "cancel-btn btn", type: 'button', style: 'display:none;'%>
				<%= link_to 'Edit', 'javascript:void(0);', class: 'edit-btn'%>
				<%= link_to 'Delete', comment_path(comment) ,:method => :delete, data: {confirm: "Are you sure you want to delete this comment?" }, :id => comment.id %>
			<% end %>
		<% end %>
	</div>
	<div class="comment-reply">
		<%= form_for @comment_reply do |g|%>
			<p class="comment-edit">
				<%= g.text_area :comment, class: 'animated' %>
				<%= g.hidden_field :month, :value => challenge_month %>
				<%= g.hidden_field :league, :value => challenge_league %>
				<%= g.hidden_field :reply_id, :value => comment.id %>	
			</p>
			<%= link_to 'Reply', 'javascript:void(0);', class: 'edit-btn'%>
			<%= g.submit 'Reply', class: 'update-btn btn', style: "display:none;" %>
			<%= button_tag 'Cancel', href: 'javascript:void(0);', class: "cancel-btn btn", type: 'button', style: 'display:none;'%>
			
		<% end %> 
	</div>
	<% comment.replies.each do |reply| %>
	  <%= render partial: "layouts/comment", locals: {comment: reply, change_background: !change_background} %>
	<% end %>
</div>

