<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Orasi Coding Challenge</title>

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<%= stylesheet_link_tag "bootstrap3.css" %>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</head>

	<body>
		<header>
			<div class="container">
				<div class="navbar">
					<%= link_to root_path do %> 
					<%= image_tag "Logo.png", width: "50px", height: "auto"%>
					<% end %>
					<ul class="nav nav-pills pull-right">
						<li>
							<a href="#">Bronze</a>
						</li>
						<li>
							<%= link_to "Silver", october_silver_path%>
						</li>
						<li>
							<%= link_to "Gold", october_gold_path %>
						</li>
						<li>
							<%= link_to "Login", login_path %>
						</li>
					</ul>
				</div>
			</div>
		</header>
		
		
		
		<div class="container text-center">
		<%= yield %>
		<footer class="masthead">
		<a href="https://twitter.com/orasi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a>
		</footer>
		</div>
		
		
		
	</body>
</html>
