<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
 
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
		<title>Orasi Coding Challenge</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag "bootstrap.css" %>
		<%= javascript_include_tag "application.js"%>
		<%= javascript_include_tag "jquery.autosize.min.js"%>
		<%= javascript_include_tag "jquery.timeago.js"%>
		<%= javascript_include_tag params[:controller] %>
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="/assets/html5shiv.js"></script>
		  <script src="/assets/respond.min.js"></script>
		<![endif]-->
	</head>
 
	<body>
		<header>
			<div class="container">
				<div class="navbar">
					<%= link_to root_path do %>
					<%= image_tag "Logo.png", width: "50px", height: "45px"%>
					<% end %>
					<ul class="nav nav-pills pull-right">
						<% if current_user.nil? %>
						<li>
							<%= link_to "Login", login_path %>
						</li>
						<% else %>
						<% if current_user.admin %>
						<li>
							<%= link_to "Admin", :admin %>
						</li>
						<% end %>
						<li class="dropdown">
							<div class="btn-group" style="vertical-align: middle">
  								<%= link_to "Bronze", november_bronze_path, :class => "btn btn-default", :style => "color:#296fab;border:0px;vertical-algin:middle;padding-top:10px;padding-botton:10px" %>
  								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border: 0px;padding-top: 10px;padding-bottom: 10px">
    								<span class="caret"></span>
    								<span class="sr-only">Toggle Dropdown</span>
  								</button>
  							
  								<ul class="dropdown-menu", role="menu">
  									<% bronze_challenges = Challenge.where(:league => "bronze").last(5).reverse%>
  									<% bronze_challenges.each do |bronze|%>
  										<li><%= link_to bronze.title, root_url + bronze.month + "/" + bronze.league, :role => "menuitem"%></li>
  									<% end %>				
  									<li class="divider"></li>
  									<li><%= link_to "Archive", october_bronze_path, :role => "menuitem"%></li>
  								</ul>
  							</div>
						</li>
						<li class="dropdown">
							<div class="btn-group" style="vertical-align: middle">
  								<%= link_to "Silver", november_silver_path, :class => "btn btn-default", :style => "color:#296fab;border:0px;vertical-algin:middle;padding-top:10px;padding-botton:10px" %>
  								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border: 0px;padding-top: 10px;padding-bottom: 10px">
    								<span class="caret"></span>
    								<span class="sr-only">Toggle Dropdown</span>
  								</button>
  							
  								<ul class="dropdown-menu", role="menu">
  									<li>
  										<% silver_challenges = Challenge.where(:league => "silver").last(5).reverse%>
  									<% silver_challenges.each do |silver|%>
  										<li><%= link_to silver.title, root_url + silver.month + "/" + silver.league, :role => "menuitem"%></li>
  									<% end %>	
  									
  									<li class="divider"></li>
  									<li><%= link_to "Archive", october_bronze_path, :role => "menuitem"%></li>
  								</ul>
						</li>
						<li class="dropdown">
							<div class="btn-group" style="vertical-align: middle">
  								<%= link_to "Gold", november_gold_path, :class => "btn btn-default", :style => "color:#296fab;border:0px;vertical-algin:middle;padding-top:10px;padding-botton:10px" %>
  								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border: 0px;padding-top: 10px;padding-bottom: 10px">
    								<span class="caret"></span>
    								<span class="sr-only">Toggle Dropdown</span>
  								</button>
  							
  								<ul class="dropdown-menu", role="menu">
  									<% gold_challenges = Challenge.where(:league => "gold").last(5).reverse%>
  									<% gold_challenges.each do |gold|%>
  										<li><%= link_to gold.title, root_url + gold.month + "/" + gold.league, :role => "menuitem"%></li>
  									<% end %>	
  									<li class="divider"></li>
  									<li><%= link_to "Archive", october_bronze_path, :role => "menuitem"%></li>
  								</ul>
						</li>
 
						<li>
							<%= link_to "Logout", logout_path %>
						</li>
						<li>
							<p>
								Welcome, <%= link_to current_user.first_name.capitalize + ' ' + current_user.last_name.capitalize, profile_view_path %>
							</p>
						</li>
						<li>
							<%= image_tag current_user.photo, width: 50, height: 50 %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</header>
 
		<div class="container">
			<%= yield %>
		</div>
 
	</body>
</html>
