<% comments = Comment.where(month: challenge_month, league: challenge_league).where("reply_id IS NULL") %>
<div id="commentRow">
	<section id="comments">
		<h3>Comments</h3>
		<% comments.each do |comment| %>
		<%= render partial: "layouts/comment", locals: {comment: comment, change_background: false} %>
		<% end %>
	</section>

	<section>
	<%= form_for :comment, url: :comments, method: :post do |f| %>
	<br>
	<br>
	<h3>Post a comment</h3>
	<p>
		<%= f.hidden_field :month, :value => challenge_month %>
		<%= f.hidden_field :league, :value => challenge_league %>
	</p>

	<p>
		<%= f.label :comment %>
		<br>
		<%= f.text_area :comment, :label => "", :rows => "5", :placeholder => "Questions? Comments? Concerns? Let us know!", class: 'animated' %>
	</p>
	<p>
		<%= f.submit :class =>"btn btn-primary btn-lg" %>
	</p>
	<% end %>
	</section>
</div>