<% comments = Comment.where(month: controller_name, league: action_name) %>
<div id="commentRow">
	<section id="comments">
		<br>
		<h3>Comments</h3>
		<br>
		<% comments.each do |comment| %>
		<article>
			<header>
				<% comment_user = User.find(comment.user_id) %>
				<%= image_tag User.find_by(id: comment.user_id).photo, width: 50, height: 50 %>
				<strong><%= comment_user.first_name.capitalize + ' ' + comment_user.last_name.capitalize %></strong> -- 
				<strong class='created-time' data-comment-id=<%=comment.id%>>test</strong>.
				<% if comment.created_at != comment.updated_at %>
					<sup>*updated <strong class='updated-time' data-comment-id=<%=comment.id%>></strong></sup>
				<% end %>
			</header>
			<br>
			<%= form_for comment, style: 'height: 100%' do |f|%>
				<p class="comment-body" style="display: block;max-width: 1140px;overflow-hidden;">
					<%= comment.comment %>
				</p>
				<p class="comment-edit" style="display: none;">
					<%= f.text_area :comment, class: 'animated' %>
				</p>
				<% if comment.user_id == current_user.id or current_user.admin %>
					<%= f.submit 'Update', class: 'update-btn btn', style: 'display: none;' %>
					<%= button_tag 'Cancel', href: 'javascript:void(0);', class: "cancel-btn btn", type: 'button', style: 'display:none;'%>
					<%= link_to 'Edit', 'javascript:void(0);', class: 'edit-btn'%>
					<%= link_to 'Delete', comment_path(comment) ,:method => :delete, data: {confirm: "Are you sure you want to delete this comment?" }, :id => comment.id %>
				<% end %>
			<% end %>
		</article>
		<% end %>

	</section>

	<section>
	<%= form_for :comment, url: :comments, method: :post do |f| %>
	<br>
	<br>
	<h3>Post a comment</h3>
	<p>
		<%= f.hidden_field :month, :value => controller_name %>
		<%= f.hidden_field :league, :value => action_name %>
	</p>

	<p>
		<%= f.label :comment %>
		<br>
		<%= f.text_area :comment, :label => "", :rows => "5", :placeholder => "Questions? Comments? Concerns? Let us know!", class: 'animated' %>
	</p>
	<p>
		<%= f.submit :class =>"btn btn-primary btn-lg" %>
	</p>
	<% end %>
	</section>
</div>