<h1>Results for <%= challenge_month.capitalize + " " + challenge_league.capitalize %></h1>
<p>
	<script type='text/vbscript'>
	
	<%= submission.submission_code.html_safe %>
	
 		
		<% functionName = User.find(@submission.user_id).first_name.capitalize + User.find(@submission.user_id).last_name.capitalize %>
	
<% if Dir.exists?("res/#{challenge_month}/#{challenge_year}/#{challenge_league}") %>
<% Dir.entries("res/#{challenge_month}/#{challenge_year}/#{challenge_league}").sort.each do |file| %>
   
<% if(File.directory?(file)==false) %>

    <% function_script = File.read("res/#{challenge_month}/#{challenge_year}/#{challenge_league}/"+file) %>
	On Error Resume Next	
     <%= function_script.gsub('function_name', functionName).html_safe %>
	On Error GoTo 0

document.write("<BR><BR>")
<% end %> 
	<% end %>
	<% end %>
	</script>
</p>
<%= yield :body %>
<%= link_to('Submit again',challenge_path(month: challenge_month, league: challenge_league, year: challenge_year))%>
