<% challenge_type = session[:league] %>
<% challenge_month = session[:month] %>
<h1>Results for <%= challenge_month.capitalize + " " + challenge_type.capitalize %></h1>
<p>
	<script type='text/vbscript'>
	<%= params[:script].read.html_safe %>
      <% functionName = session[:f_name].capitalize + session[:l_name].capitalize %>
	<% Dir.entries('res/'+challenge_month+'/'+challenge_type).each do |file| %>
    <% if(File.directory?(file)==false) %>
    <% function_script = File.read('res/'+challenge_month+"/"+challenge_type+"/"+file) %>
     <%= function_script.gsub('function_name', functionName).html_safe %>
    document.write("<BR><BR>")
	<% end %> 
	<% end %>
	</script>
</p>

<%= yield %>

<%= link_to('Submit again',challenge_month+'/'+challenge_type)%>
