<br>
<br>
<br>
<Br>
	<script type="text/javascript">
	 var browserIsIE;
</script>
<script type='text/vbscript'>
	browserIsIE=true
</script>

<div id="submitButtonPanel">
	<% if current_user.admin %>
	<%= link_to "Get all submissions", october_bronze_all_path %>
	<% end %>
	<h3> Submit Solution</h3>
	<br>
	<%= form_tag(action_name, method: :post,multipart: true,:id => "submissionForm") do %>
	<%= file_field_tag 'script', :id => "fileButton", :onChange => "getFilePath()" %>
	<%= label_tag(:fileButton, "Select File", :class => "btn btn-primary btn-lg") %>
	<%= submit_tag 'Evaluate', :id => "evaluateButton", :onClick =>"clickSubmitButton();return false" %>
	<%= label_tag(:evaluateButton, "Evaluate",:class => "btn btn-primary btn-lg") %>

	<% end %>
	<p id="filePath"></p>
</div>

<div id="loadingPanel">
	<h3> Results are Loading.
	<br>
	Please be patient...</h3>
</div>
<% if !request.env['HTTP_USER_AGENT'].include?'MSIE' %>
<div id="NonIEWarning">
	<h3>We regret to inform you that you can not use a real browser to upload challenge submissions.<br> Please use Internet Explorer to upload files.</h3>
</div>
<% end %>
<script type="text/javascript">
   
   document.getElementById("NonIEWarning").style.display='none';
   if(browserIsIE==true){
   	document.getElementById("SubmissionForm").style.display='block';
   	document.getElementById("NonIEWarning").style.display='none';
   }else{
   	document.getElementById("NonIEWarning").style.display='block';
   	document.getElementById("SubmissionForm").style.display='none';
   }
   	
</script>